.App {
  background-color: rgb(17, 180, 245);
  padding-top: 30px;
  padding-bottom: 30px;
}

.App h1 {
  font-size: 108;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  display: flex;
  font-weight: 600;
}
 
.App input {
  position: absolute;
  width: 25%;
}
.form-group {
  margin-left: 40%;
}

.App button {
  margin-left: 45%;
  margin-top: 60px;
}

.displayContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

